{% load staticfiles %}

{% load board_list %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'Skeleton/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'Skeleton/css/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'site/css/main.css' %}">

    <script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
</head>
<body>
<div class="title-bar row">
    <div class="site-title-wrapper three columns">
        <h3 class="site-title"><a href="{% url 'index' %}" class="site title link" title="Cyboard Home">Cyboard</a></h3>
    </div>
    <div class="board-list-wrapper nine columns">
        {% list_boards %}
    </div>
</div>
{% block content %}
<h1>Nothing to see here</h1>
{% endblock %}
<script src="{% static 'site/js/main.js' %}"></script>
</body>
</html>