{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="four columns board-title-left"></div>
        <div class="four columns board-title-wrapper">
            <h1 class="board-title">{{board.name}}</h1>
        </div>
        <div class="four columns board-title-right"></div>
    </div>
    {% if board.info %}
        <div class="row">
            <div class="twelve columns board-info-wrapper">
                {{board.info|safe}}
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="four columns"></div>
        <div class="four columns new-thread-form-title-wrapper">
            <h3 class="new-form-title">New Thread</h3>
        </div>
        <div class="four columns"></div>
    </div>
    <div class="row">
        <div class="four columns"></div>
        <div class="four columns">
            <div class="new-thread-form-wrapper">
                <form id="board-{{board.id}}-new-thread-form" class="new-thread-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="parent_board"  value="{{board.id}}" />
                    <label for="thread_title">Title:</label>
                    <input id="board-{{board.id}}-new-thread-form-title" class="new-thread-form-title" name="thread_title" type="text" />
                    <label for="image">Image:</label>
                    <input id="board-{{board.id}}-new-thread-form-image" class="new-thread-form-image" name="image" type="file" />
                    <label for="body">Body:</label>
                    <textarea name="body" id="board-{{board.id}}-new-thread-form-body" class="new-thread-form-body" cols="30" rows="10"></textarea>
                    <input id="board-{{board.id}}-new-thread-form-submit-btn" class="new-thread-form-submit-btn" type="submit" value="Submit" />
                </form>
            </div>
        </div>
        <div class="four columns"></div>
    </div>
    <div class="row">
        {% if board.threads.all %}
            {% for thread in board.threads.all %}
                {% if thread.title %}
                    <h3><a href="{% url 'thread:single_thread' id=thread.id %}">{{thread.title}}</a></h3>
                {% else %}
                    <h3>No Title</h3>
                {% endif %}
                <p>{{thread.timestamp}} - id: {{thread.id}}<br>
                Replies: {{thread.get_post_count}}</p>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}