body
{
    background-color: rgba(30, 30, 30, 0.9);
    font-size: 1.6em;
    color: rgba(230, 230, 230, 0.8);
}

.container
{
    padding-top: 80px;
}

.columns
{
    min-height: 1px;
}

.post-reply-wrapper
{
    display: none;
}

.site-title-wrapper
{
    padding: 10px 10px 10px 60px;
}

.board-list-wrapper ul li
{
    display: block;
    float: left;
    text-decoration: none;
    padding: 10px 10px;
}

.title-bar.row
{
    background-color: rgba(80, 80, 80, 0.9);
    color: #fff;
    font-weight: 700;
}

.title-bar.row a
{
    color: #fff;
    text-decoration: none;
    transition: all 0.4s;
}

.title-bar.row a:hover
{
    color: rgba(110, 180, 220, 0.7);
}

.index-latest-post-info
{
    width: 100%;
}

.index-latest-post-image
{
    max-width: 25%;
    float: left;
    box-sizing: border-box;
}

.index-latest-post-text
{
    max-width: 75%;
    float: left;
    padding: 20px 20px;
    box-sizing: border-box;
}